@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
* {
  margin: 0;
  padding: 0; }

.header {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); }
  .header nav ul li {
    display: inline-block;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Delicious Handrawn', cursive, 'Gill Sans', 'Gill Sans MT';
    margin-right: 10px;
    margin-left: 10px; }

.header-centrado {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-around !important; }

.logo-principal {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center; }

.lista-pages {
  justify-content: flex-end; }
  .lista-pages li a {
    color: #ff086b;
    text-decoration: none; }

/* PSEUDOCLASES*/
.escalar:hover {
  transform: scale(1.2); }

/* MAIN */
.main-principal {
  /* background-image: url('../images/fondo-lunares.jfif'); */
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  font-family: 'Alkatra', cursive, 'Gill Sans', 'Gill Sans MT';
  font-size: x-large;
  color: #ff086b;
  text-align: center;
  min-height: 100vh; }

.inicio a {
  color: #ff086b;
  text-decoration: none;
  font-family: 'Delicious Handrawn', cursive, 'Gill Sans', 'Gill Sans MT';
  font-size: larger; }

.banner-principal img {
  width: 60vw;
  height: 30vh;
  max-width: 250px;
  max-height: 250px;
  margin: 5vh; }

.main-fotos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly; }

.main-nosotras {
  min-width: 100%; }

.fondo-separador-rectangular {
  background-image: url(../images/fondo-rectangulares.jfif);
  display: flex;
  min-height: 100px;
  text-align: center;
  align-content: flex-start;
  align-items: center;
  justify-content: space-around; }

.texto-en-box {
  display: flex;
  min-height: 100px;
  text-align: center;
  align-content: flex-start;
  align-items: center;
  justify-content: space-around; }

.productos {
  justify-content: space-around; }
  .productos img {
    max-height: 25vh;
    max-width: 25vh;
    margin: 5px; }

.artesanias {
  justify-content: space-around; }
  .artesanias img {
    max-height: 50vh;
    max-width: 75vh;
    margin: 5px; }

/* FORMULARIO DE CONTACTO */
.contacto-texto {
  justify-content: space-around; }

/* Formulario */
.formulario {
  grid-column: 1/13;
  /*     text-align: center; */
  margin: 0 auto;
  /* padding: 1rem; */
  margin-bottom: 3rem; }
  .formulario fieldset {
    border: none; }
    .formulario fieldset legend {
      color: var(--secundario);
      text-align: center;
      font-size: 2rem;
      font-weight: 600; }

.campo span {
  color: var(--rojo); }

.campo label {
  display: block;
  margin: 1.5rem 0 .5rem 0;
  width: 100%;
  font-weight: 500; }

.campo input {
  border-radius: .5rem;
  border: 1rem var(--negro);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 3rem;
  /* width: 80%; */
  width: 100%; }

.campo textarea {
  border-radius: .5rem;
  border: 1rem var(--negro);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 8rem;
  width: 100%; }

/* FOOTER */
.footer {
  background-color: #aa488e;
  font-family: Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  color: black;
  min-height: 15vh; }

.foot-4 ul {
  list-style: none; }

.foot-4 li a {
  color: black;
  text-decoration: none; }

/* FIXED ICON SOCIAL */
.btn-flotante {
  position: fixed;
  bottom: 60px;
  right: 50px;
  max-height: 10vh;
  max-width: 10vw;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99; }
